<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tariefplan voor provider</title>
</head>
<body>
    <div class="col-xs-4">
        <div class="list-group">
            <a class="list-group-item" ng-href="#/detailleverancier/{{leverancierDetailCtrl.leverancier.id}}">Overzicht</a>
            <a class="list-group-item" href="#/detailleverancier/edit/{{leverancierDetailCtrl.leverancier.id}}">Aanpassen leverancier</a>
            <a class="list-group-item" href="#/overzichtlevservice/{{leverancierDetailCtrl.leverancier.id}}">Overzicht abonnementen</a>
            <a class="list-group-item active" href="#/createabonnement/{{leverancierDetailCtrl.leverancier.id}}">Creatie nieuw abonnement</a>
        </div>
    </div>
    <div class="col-xs-8 panel panel-default">
        <div class="panel-body">
            <h3 class="ph-custom-inline-no-top-padding">Niew tariefplan voor {{leverancierDetailCtrl.leverancier.naam}}</h3>
            <form>
                <div class="form-group ph-custom-inline-no-top-padding">
                    <label for="naamTarief">Naam tariefplan</label>
                    <input type="text" class="form-control" id="naamTarief" ng-model="naamTarief">
                    <label for="basisPrijsTarief">Basisprijs</label>
                    <input type="number" class="form-control" id="basisPrijsTarief" ng-model="basisPrijs">
                </div>
                <div class="checkbox ph-custom-inline-no-top-padding">
                    <label for="isGroen"><input type="checkbox" id="isGroen" ng-model="isGroen">Groene stroom</label>
                </div>
                <div class="form-group ph-custom-inline-no-top-padding">
                    <label for="selectedProvider">Leverancier</label>
                    <select class="form-control" id="selectedProvider" ng-model="selectedType"
                            ng-options="leverancier.naam for leverancier in leverancierDetailCtrl.leveranciers"
                            ng-model="selected">
                        <!-- <option ng-repeat="leverancier in leverancierDetailCtrl.leveranciers"
                                ng-selected="leverancier.naam == leverancierDetailCtrl.leverancier.naam">
                            {{leverancier.naam}}
                        </option> -->
                        <option value="" ng-if="selectedProvider === leverancier.naam"></option>
                    </select>
                </div>
                <button ng-click="leverancierDetailCtrl.saveTarief()" class="btn btn-info">Opslaan</button>
            </form>
        </div>
    </div>
</body>
</html>