<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overzicht Transacties gebruiker</title>
</head>
<body>
<div class="col-xs-4">
    <div class="list-group">
        <a class="list-group-item" ng-href="#/userdetails/{{gebruikerDetailCtrl.id}}">Details gebruiker</a>
        <a class="list-group-item active" href="#/logsuser/{{gebruikerDetailCtrl.id}}">Overzicht transacties</a>
    </div>
</div>
<div class="col-xs-8 panel panel-default">
    <div class="panel-body">
        <h3>Overzicht transacties <b>{{gebruikerDetailCtrl.leverancier.naam}}</b></h3>
        <span class="warning-span" ng-hide="gebruikerDetailCtrl.logs"><b>{{gebruikerDetailCtrl.gebruiker.voornaam}} {{gebruikerDetailCtrl.gebruiker.familienaam}} heeft geen transacties</b></span><br/>
        <table class="table table-condensed" ng-show="gebruikerDetailCtrl.logs">
            <tr>
                <th>Datum</th>
                <th>Type</th>
                <th>Compensatie</th>
            </tr>
            <tr ng-repeat="log in gebruikerDetailCtrl.logs| logFilter:gebruikerDetailCtrl.id  | orderBy:log.datum">
                <td>{{log.datum | date:'medium'}}</td>
                <td>{{log.type}}</td>
                <td>{{log.compensatie}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>