<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details transactie</title>
</head>
<body>
<div class="col-xs-4">
    <div class="list-group">
        <a class="list-group-item active" ng-href="#/userdetails/{{logDetailCtrl.id}}">Details transactie</a>
    </div>
</div>
<div class="col-xs-8 panel panel-default">
    <div class="panel-body">
        <h3>Overzicht transactie</h3>
        <ul>
            <ul class="list-group">
                <li class="list-group-item"><b>Type</b>: {{logDetailCtrl.log.type}}</li>
                <li class="list-group-item"><b>Vergoeding</b>: € {{logDetailCtrl.log.compensatie}}</li>
                <li class="list-group-item"><b>Datum</b>: {{logDetailCtrl.log.datum | date:'medium'}}</li>
                <li class="list-group-item"><b>Email gebruiker</b>: {{logDetailCtrl.naam}}</li>
                <li class="list-group-item"><b>Oude leverancier</b>: {{logDetailCtrl.naamLevO}}</li>
                <li class="list-group-item"><b>Nieuwe leverancier</b>: {{logDetailCtrl.naamLevN}}</li>
                <li class="list-group-item"><b>Tarief</b>: {{logDetailCtrl.tariefNaam}}</li>
            </ul>
        </ul>
    </div>
</div>
</body>
</html>