<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overzicht van de tarieven van een leverancier</title>
</head>
<body>
    <div class="col-xs-4">
        <div class="list-group">
        <a class="list-group-item" ng-href="#/detailleverancier/{{leverancierDetailCtrl.leverancier.id}}">Overzicht</a>
        <a class="list-group-item" ng-href="#/detailleverancier/edit/{{leverancierDetailCtrl.leverancier.id}}">Aanpassen leverancier</a>
        <a class="list-group-item active" ng-href="#/overzichtlevservice/{{leverancierDetailCtrl.leverancier.id}}">Overzicht abonnementen</a>
        <a class="list-group-item" ng-href="#/createabonnement/{{leverancierDetailCtrl.leverancier.id}}">Creatie nieuw abonnement</a>
        </div>
    </div>
    <div class="col-xs-8 panel panel-default">
        <div class="panel-body">
            <h3 class="ph-custom-inline-no-top-padding">Overzicht tarieven {{leverancierDetailCtrl.leverancier.naam}}</h3>
            <table class="table table-condensed" ng-show="leverancierDetailCtrl.leverancier.tariefplannen">
                <tr>
                    <th>Naam Leverancier</th>
                    <th></th>
                </tr>
                <tr ng-repeat="tarief in leverancierDetailCtrl.leverancier.tariefplannen">
                    <td>{{tarief.naam}}</td>
                    <td><a ng-href="#/detaillevservice/{{tarief.id}}">Aanpassen</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>